@page "/users/list"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using UsAcRe.Web.Shared.Models
@attribute [Authorize]
@inject HttpClient Http

<h1>List of users</h1>

<RadzenGrid Count="@count" Data="@users" LoadData="@LoadData" AllowSorting="true" AllowFiltering="true" AllowPaging="true" PageSize="4" TItem="UserAccountModel" ColumnWidth="200px">
    <Columns>
        <RadzenGridColumn TItem="UserAccountModel" Property="UserName" Title="UserName" />

        <RadzenGridColumn TItem="UserAccountModel" Property="Email" Title="Email" />
        <RadzenGridColumn TItem="UserAccountModel" Property="EmailConfirmed" Title="First Name" Filterable="false" />
        <RadzenGridColumn TItem="UserAccountModel" Property="AccessFailedCount" Title="AccessFailedCount" />
        <RadzenGridColumn TItem="UserAccountModel" Property="Role" Title="Role" />

    </Columns>
</RadzenGrid>


@code {
    IEnumerable<UserAccountModel> users;
    int count;

    async Task LoadData(LoadDataArgs args) {
        try {
            var response = await Http.PostAsJsonAsync("users", args);
            users = await response.Content.ReadFromJsonAsync<IEnumerable<UserAccountModel>>();
            count = users.Count();
            await InvokeAsync(StateHasChanged);
        } catch(AccessTokenNotAvailableException exception) {
            exception.Redirect();
        }
    }
}
