<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target xsi:type="File" name="fileOut" autoFlush="true" fileName="${var:logDirectory}/RSTester.log" concurrentWrites="true" archiveFileName="${var:logDirectory}/RSTester.Archive.{#}.log" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="9" layout="|${level:format=FirstCharacter}|${time}|${message}" header="----------------- Logging started on ${longdate} ------------------" />

    <target xsi:type="File" name="traceFileOut" autoFlush="true" fileName="${var:logDirectory}/RSTester.Trace.log" concurrentWrites="false" archiveFileName="${var:logDirectory}/RSTester.Trace.{#}.log" archiveEvery="Day" archiveNumbering="Rolling" archiveOldFileOnStartup="true" maxArchiveFiles="2" layout="|${level:format=FirstCharacter}|${time}|${message}" />

    <target xsi:type="Debugger" name="debuglog" layout="${message}" />
    <target xsi:type="ColoredConsole" name="consoleOut" layout="|${level:format=FirstCharacter}|${time}| ${message}" autoFlush="true" detectConsoleAvailable="true" useDefaultRowHighlightingRules="true" />
  </targets>
  <rules>
    <logger name="UsAcRe.Player" minlevel="Warning" writeTo="consoleOut" />
    <logger name="UsAcRe.Player" minlevel="Info" writeTo="fileOut" />
    <logger name="UsAcRe.Player" levels="Debug,Trace" writeTo="traceFileOut, debuglog" />
    <logger name="UsAcRe.FormMain" minlevel="Info" writeTo="fileOut" />
  </rules>
</nlog>